{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": "last 2 versions" }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "react-hot-loader/babel"
  ]
}
